In [3]:
import pandas as pd

In [4]:
df19 = pd.read_csv('../data/cfs_2019.csv')

In [5]:
df19.head()

,Incident_Number,Area_Occ,Rpt_Dist,Dispatch_Date,Dispatch_Time,Call_Type_Code,Call_Type_Text
0,LPD190704000047,N Hollywood,1532.0,07/04/2019 12:00:00 AM,00:14:49,507F,FIREWORKS
1,LPD190529006334,Outside,NaN,05/29/2019 12:00:00 AM,21:28:53,006,CODE 6
2,LPD190218001024,Southwest,379.0,02/18/2019 12:00:00 AM,07:46:54,507C,CONSTRUCTION
3,PD19120600001346,Northeast,1109.0,12/06/2019 12:00:00 AM,08:32:27,006,CODE 6
4,LPD190216004881,Van Nuys,933.0,02/16/2019 12:00:00 AM,21:14:49,507P,PARTY

In [ ]:
df19.Dispatch_Date = df19.Dispatch_Date